@charset "UTF-8";
/*
 @include tablet{
            
        }
        @include desktop{
            
        }
        */
/*
 @include tablet{
            
        }
        @include desktop{
            
        }
        */
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
.pinkRadiant {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 30%, #94bbe9 100%);
}

.greenRadiant {
  background: #b3fcad;
  background: radial-gradient(circle, #b3fcad 2%, #8fbc8b 100%);
}

.pinkGreenRadiant {
  background-size: 100%;
  background: #eeaeca;
  background: radial-gradient(circle, #b3fcad 0%, rgba(238, 174, 202, 0.8) 30%, rgba(143, 188, 139, 0) 60%);
  border-radius: 3%;
  opacity: 90%;
  /*szöveg*/
}

@use "variables";
@use "mixins";
@use "background";
@use "svgCuccok";
@use "gombokMenu";
@use "fonts";
@use "animacio";
div#headerDiv,
section {
  height: 100%;
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(1fr, 1fr))[12];
      grid-template-columns: repeat(12 minmax(1fr, 1fr));
  grid-gap: 0%;
  margin: 0;
  padding: 1rem;
  grid-auto-columns: auto-fit;
}

.kisGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(1fr, 1fr))[8];
      grid-template-columns: repeat(8 minmax(1fr, 1fr));
  grid-gap: 1%;
  margin: 0;
  grid-auto-columns: auto-fit;
  grid-auto-rows: 1fr;
}

.container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.container div#headerDiv {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(20vh, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit minmax(20vh, 1fr));
  grid-gap: 0%;
  height: 100vh;
  margin: 0;
}

.container div#headerDiv header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(5%, 1fr))[2];
      grid-template-columns: repeat(2 minmax(5%, 1fr));
  grid-gap: 5px;
  -ms-grid-row: 1;
  grid-row: 1/1.5;
  padding: 2% 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1200px) {
  .container div#headerDiv header {
    padding: 0;
    margin: 0;
    height: 11vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(1fr, 1fr))[12];
        grid-template-columns: repeat(12 minmax(1fr, 1fr));
    grid-gap: 0%;
    position: fixed;
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    /*display:inline-flex;
  flex-direction: column;
  justify-content: space-between;*/
  }
}

.container div#headerDiv header div#logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

@media (min-width: 760px) {
  .container div#headerDiv header div#logo {
    grid-rows: span 1.5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

@media (min-width: 1200px) {
  .container div#headerDiv header div#logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .container div#headerDiv header div#navbar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 11;
    grid-column: 2/13;
    text-align: center;
  }
}

.container div#headerDiv header div#hambi {
  background-color: black;
  position: fixed;
  top: 1.5vh;
  right: 4vh;
  height: 6vh;
}

@media (min-width: 760px) {
  .container div#headerDiv header div#hambi {
    -ms-grid-column: 11;
    -ms-grid-column-span: 1;
    grid-column: 11/12;
  }
}

@media (min-width: 1200px) {
  .container div#headerDiv header div#hambi {
    display: none;
  }
}

.container div#headerDiv div#focimDiv {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  /*focim veg*/
}

.container div#headerDiv div#focimDiv h1#focim {
  display: -ms-grid;
  display: grid;
  max-height: 100vh;
  text-align: center;
  font-size: 3rem;
  background-color: #649264, 0.8;
  position: relative;
  top: 30vh;
  padding: 1rem;
  letter-spacing: 1vw;
  font-style: italic;
  text-shadow: 23px 10px #bebebe;
}

@media (min-width: 760px) {
  .container div#headerDiv div#focimDiv h1#focim {
    font-size: 4rem;
    max-height: 80vh;
    padding: 0rem 4rem;
  }
}

@media (min-width: 1200px) {
  .container div#headerDiv div#focimDiv h1#focim {
    font-size: 6rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
    margin: 0;
  }
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 760px) {
  section {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  section {
    margin: 0;
    padding: 0;
  }
}

section div p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1% 1%;
}

.navZarva {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10vh;
  width: 100vw;
  line-height: 2.5rem;
  padding: 2rem 2rem;
  z-index: 1;
  text-align: center;
  opacity: 0;
}

@media (min-width: 1200px) {
  .navZarva {
    opacity: 1;
    top: 0;
    max-width: 100%;
  }
}

.navZarva ul {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .navZarva ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15%;
            flex: 1 1 15%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.navZarva ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0% 1rem;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.navZarva ul li a {
  list-style: none;
  text-decoration: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Comic Sans MS", cursive,
 sans-serif;
  color: #649264;
}

.navOpen {
  opacity: 1;
  -webkit-transition: opacity 1000ms ease-out;
  transition: opacity 1000ms ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  top: 10vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 2rem;
  z-index: 1;
}

.navOpen ul li {
  list-style: none;
  line-height: 2rem;
}

.navOpen ul li a {
  list-style: none;
  -webkit-box-flex: 100%;
      -ms-flex: 100% 1 1;
          flex: 100% 1 1;
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
      -ms-text-size-adjust: auto;
          text-size-adjust: auto;
  text-decoration: none;
  margin: 5%;
  padding: 5%;
  font-size: 1.2 rem;
  font-weight: 900;
  font-family: "'Comic Sans MS', arial, helvetica";
  color: #649264;
  -ms-flex-line-pack: center;
      align-content: center;
}

div#teljes {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  margin: 0;
  max-width: 100%;
  max-height: 40vh;
  height: 100%;
  z-index: 3;
  text-align: center;
}

footer div {
  z-index: 3;
}

footer div:nth-child(1) {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-grid-row-align: center;
      align-self: center;
}

footer div:nth-child(2) {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/13;
  width: 60%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  text-align: right;
}

#socialIkonok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
  z-index: 0;
  padding-bottom: 2.5rem;
}

#socialIkonok i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#socialIkonok i:nth-child(1) {
  color: blue;
}

#socialIkonok i:nth-child(2) {
  color: #a72591;
}

#socialIkonok i:nth-child(3) {
  color: #1b882d;
}

.stickyIkonok {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9/11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  position: -webkit-sticky;
  position: sticky;
  top: 60vh;
  right: 0vw;
  opacity: 1;
  visibility: hidden;
  z-index: 0;
}

.stickyIkonok i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.stickyIkonok i:nth-child(1) {
  font-size: 5rem;
  height: 4rem;
}

.stickyIkonok i:nth-child(2):hover::before {
  content: "kontakt";
}

@media (min-width: 760px) {
  .stickyIkonok {
    display: none;
    color: green;
  }
}

@media (min-width: 1200px) {
  .stickyIkonok {
    display: none;
    color: blue;
  }
}

@use 'variables';
@use "animacio";
@use 'mixins';
li.hoverMenu a {
  border-bottom: 0rem solid #649264;
}

li.hoverMenu a:hover {
  /*&::after:hover {
    content:'';
    width:100%;*/
  -webkit-animation-name: csikAlulrol;
          animation-name: csikAlulrol;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  position: relative;
}

@-webkit-keyframes csikAlulrol {
  from {
    border-bottom: 0rem solid #649264;
    border-width: -10%;
  }
  to {
    border-bottom: 0.2rem solid #649264;
    border-width: 0%;
  }
}

@keyframes csikAlulrol {
  from {
    border-bottom: 0rem solid #649264;
    border-width: -10%;
  }
  to {
    border-bottom: 0.2rem solid #649264;
    border-width: 0%;
  }
}

.gomb {
  /* @if $inset {
    width: inset $gombMeret;
    padding: inset $gombPadding;
    color: inset $color;
    background-color: inset $gombColor;
  } @else {*/
  width: 4rem;
  padding: 0.5rem;
  color: #8fbc8b;
  background-color: #E1CEE3;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.24);
}

.gomb:hover {
  background-color: white;
  -webkit-box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.24), 0 1rem 3.2rem 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.24), 0 1rem 3.2rem 0 rgba(0, 0, 0, 0.19);
}

.gomb:active {
  background-color: white;
  -webkit-box-shadow: 0 0.2rem #666;
          box-shadow: 0 0.2rem #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.gomb:hover {
  opacity: 80%;
}

#hambi {
  position: relative;
  right: -85vw;
  width: 6%;
  min-width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 1200px) {
  #hambi {
    display: none;
  }
}

.hambicsik {
  position: inline-block;
  border: 0.5 rem solid grey;
  background-color: #cccccc;
  width: 95%;
  height: 0.2rem;
  padding: 0.1rem;
  border-radius: 15%;
}

.animacioX div {
  position: absolute;
}

.animacioX div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: -webkit-transform 1000ms ease-in;
  transition: -webkit-transform 1000ms ease-in;
  transition: transform 1000ms ease-in;
  transition: transform 1000ms ease-in, -webkit-transform 1000ms ease-in;
}

.animacioX div:nth-child(2) {
  left: -20px;
  width: 95%;
  opacity: 0;
  -webkit-transition: opacity 2000ms ease-out;
  transition: opacity 2000ms ease-out;
}

.animacioX div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-transition: -webkit-transform 1000ms ease-in;
  transition: -webkit-transform 1000ms ease-in;
  transition: transform 1000ms ease-in;
  transition: transform 1000ms ease-in, -webkit-transform 1000ms ease-in;
}

.animacioXVissza div:first-child {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: width 1000ms ease-in,
 -webkit-transform 1000ms ease-in;
  transition: width 1000ms ease-in,
 -webkit-transform 1000ms ease-in;
  transition: transform 1000ms ease-in,
 width 1000ms ease-in;
  transition: transform 1000ms ease-in,
 width 1000ms ease-in,
 -webkit-transform 1000ms ease-in;
  display: inline-block;
}

.animacioXVissza div:nth-of-type(2) {
  left: 0px;
  opacity: 1;
  -webkit-transition: opacity 2000ms ease-out;
  transition: opacity 2000ms ease-out;
  display: inline-block;
}

.animacioXVissza div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: width 1000ms ease-in,
 -webkit-transform 1000ms ease-in;
  transition: width 1000ms ease-in,
 -webkit-transform 1000ms ease-in;
  transition: transform 1000ms ease-in,
 width 1000ms ease-in;
  transition: transform 1000ms ease-in,
 width 1000ms ease-in,
 -webkit-transform 1000ms ease-in;
  display: inline-block;
}

@font-face {
  font-family: heading;
  src: local("Comic Sans Ms", cursive, sans-serif);
}

@font-face {
  font-family: alap;
  src: local("Comic Sans MS", Arial, Helvetica);
}

@font-face {
  font-family: gloria;
  src: url(..\..\font\Gloria_Hallelujah\GloriaHallelujah-Regular.ttf) format("truetype"), url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
  font-weight: 900;
  font-stretch: 1,2;
  letter-spacing: 0.5em;
}

.focimFont {
  font-family: gloria, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nokep {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row-align: center;
      align-self: center;
}

#nokep svg {
  position: absolute;
  top: 15%;
  right: 50%;
  left: 50%;
  -webkit-box-shadow: 1px 1px 20px black;
          box-shadow: 1px 1px 20px black;
}

.animacioX div {
  position: absolute;
}

.animacioX div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: -webkit-transform 1000ms ease-in;
  transition: -webkit-transform 1000ms ease-in;
  transition: transform 1000ms ease-in;
  transition: transform 1000ms ease-in, -webkit-transform 1000ms ease-in;
}

.animacioX div:nth-child(2) {
  left: -20px;
  width: 95%;
  opacity: 0;
  -webkit-transition: opacity 2000ms ease-out;
  transition: opacity 2000ms ease-out;
}

.animacioX div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-transition: -webkit-transform 1000ms ease-in;
  transition: -webkit-transform 1000ms ease-in;
  transition: transform 1000ms ease-in;
  transition: transform 1000ms ease-in, -webkit-transform 1000ms ease-in;
  -ms-flex-item-align: center;
      align-self: center;
}

/*
 @include tablet{
            
        }
        @include desktop{
            
        }
        */
/*
 @include tablet{
            
        }
        @include desktop{
            
        }
        */
section#otodikS {
  z-index: 3;
}

form {
  max-width: 80vw;
  height: 80vh;
  margin: 0;
}

@media (min-width: 1200px) {
  form {
    margin: 0px;
    min-width: 70vw;
    min-height: 90vh;
  }
}

.formAlak {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1/12;
  display: grid;
  -ms-grid-rows: (minmax(1fr, 1fr))[12];
      grid-template-rows: repeat(12 minmax(1fr, 1fr));
  grid-gap: 1%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1/13;
  max-width: 95%;
  max-height: 100%;
  border-radius: 5%;
  grid-auto-rows: 12fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1% auto;
  background-color: rgba(250, 250, 250, 0.3);
}

.formAlak input {
  text-align: left;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  z-index: 0;
  margin: 1rem auto 0.5rem;
  padding: 0.2rem 8%;
  background: rgba(250, 250, 250, 0.3);
  max-width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formAlak input:focus {
  background-position: 0 50%;
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  .formAlak input {
    padding: 1% 2%;
    min-width: 50vw;
  }
}

.formAlak legend {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.formAlak label {
  display: none;
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .formAlak label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.formAlak .form-control:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.formAlak .form-control:nth-of-type(1) p {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.formAlak .form-control:nth-of-type(2) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
}

.formAlak .form-control:nth-of-type(2) p {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.formAlak .form-control:nth-of-type(3) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 6;
  grid-row: 6/12;
}

.formAlak .form-control:nth-of-type(4) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

@media (min-width: 1200px) {
  .formAlak {
    padding: 0px 2%;
    min-width: 60vw;
    min-height: 80vh;
  }
}

textarea {
  background: rgba(250, 250, 250, 0);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  resize: vertical;
  min-height: 80%;
  display: inline-block;
  border-radius: 10px;
  z-index: 0;
  margin: 2rem auto;
  background: rgba(250, 250, 250, 0.3);
  max-width: 95%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 1rem;
}

textarea:focus {
  background-position: 0 50%;
}

@media (min-width: 760px) {
  textarea {
    padding: 1% auto 0%;
    min-width: 30vw;
    min-height: 60%;
    max-height: 60%;
    margin: 10% auto 1% auto;
  }
}

@media (min-width: 1200px) {
  textarea {
    padding: 0px 2%;
    min-width: 50vw;
    min-height: 60%;
    max-height: 60%;
    margin-bottom: 0%;
  }
}

p.hibaUzi {
  color: Red;
  font-size: 0.8rem;
  visibility: hidden;
  position: absolute;
  bottom: -1.2rem;
}

@media (min-width: 760px) {
  p.hibaUzi {
    font-size: 1.2rem;
    bottom: -1.6vh;
  }
}

@media (min-width: 1200px) {
  p.hibaUzi {
    bottom: -5vh;
  }
}

input.submitGomb {
  width: span 2;
  display: -ms-grid;
  display: grid;
  max-width: 95%;
  max-height: 20%;
  border-radius: 5%;
  grid-auto-rows: 1fr;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2% auto;
  padding: 1% 1%;
  font-size: 1rem;
  background-color: rgba(250, 250, 250, 0.3);
  -webkit-box-shadow: 2px 3px grey 2px;
          box-shadow: 2px 3px grey 2px;
}

@media (min-width: 760px) {
  input.submitGomb {
    margin: 0% auto 10%;
    border-radius: 10px;
  }
}

@media (min-width: 1200px) {
  input.submitGomb {
    padding: 1% auto;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6/8;
    max-width: 10%;
    margin: 2% auto 5%;
    font-size: 2rem;
  }
}

.form-control {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-control i {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  padding: 1% auto;
  opacity: 1;
  visibility: hidden;
}

.form-control.success i:nth-of-type(1) {
  visibility: hidden;
  color: pink;
}

@media (min-width: 760px) {
  .form-control.success i:nth-of-type(1) {
    top: 11vh;
    right: 8vw;
  }
}

@media (min-width: 1200px) {
  .form-control.success i:nth-of-type(1) {
    top: 6vh;
  }
}

.form-control.success input {
  border: 0.2rem solid pink;
  background: rgba(255, 192, 203, 0.5);
}

.form-control.failed i:nth-of-type(2) {
  visibility: visible;
  color: #be1d38;
}

@media (min-width: 760px) {
  .form-control.failed i:nth-of-type(2) {
    top: 11vh;
    right: 8vw;
  }
}

@media (min-width: 1200px) {
  .form-control.failed i:nth-of-type(2) {
    top: 6vh;
  }
}

.form-control.failed input {
  border: 0.2rem solid #be1d38;
  background: rgba(190, 29, 56, 0.5);
}

.form-control.failed p {
  visibility: visible;
}

section#negyedikS {
  height: 200vh;
  grid-gap: 2rem;
  padding: 5vh auto;
  margin: 2vh auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#negyedikS .foFogl {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(1fr, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit minmax(1fr, 1fr));
  grid-gap: 1rem;
}

@media (min-width: 760px) {
  section#negyedikS {
    background-attachment: fixed;
  }
}

@media (min-width: 760px) {
  .alFogl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 5vh auto;
  }
}

@media (min-width: 1200px) {
  .alFogl {
    background-image: url("https://via.placeholder.com/350");
  }
}

@use "variables";
@use "mixins";
.bg-kezdo {
  background-color: #649264;
  background-image: url(../kepek/fohatterkepmobil.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
}

.bg-green {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #649264;
  color: #070c13;
  background: radial-gradient(circle, #b3fcad 0%, #649264 80%);
  border-radius: 1%;
}

.bg-greenLight {
  background-size: 120%;
  background-color: #649264;
  color: #070c13;
  background: #b3fcad;
  background: radial-gradient(circle, #b3fcad 2%, #8fbc8b 100%);
  border-radius: 1%;
}

.bg-greenKompl {
  background-size: cover;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  background-color: #649264;
  color: #070c13;
  background: #eeaeca;
  background: radial-gradient(circle, #b3fcad 0%, rgba(238, 174, 202, 0.8) 30%, rgba(143, 188, 139, 0) 60%);
  background-repeat: no-repeat;
  border-radius: 3%;
  opacity: 90%;
}

@media (min-width: 760px) {
  .bg-greenKompl {
    background-attachment: fixed;
  }
}

.bg-black {
  background-color: #070c13;
  color: #649264;
  color: #649264;
}

.bg-overlayBlack {
  background-size: cover;
  background-color: #222222;
}

.bg-white {
  background-size: 100%;
  background-position: center;
  background: #c7dbc5;
  background: radial-gradient(circle, rgba(199, 219, 197, 0.851315) 2%, #fefefe 100%);
}

.bg-overlayTransparent {
  background-size: cover;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(0%, rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 0%);
}

root {
  width: 100vw;
  height: 100vh;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-size: 16px;
}

@media (min-width: 760px) {
  *,
  *::before,
  *::after {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  *,
  *::before,
  *::after {
    font-size: 2rem;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lucida Sans",
 "Lucida Sans Regular", "Lucida Grande",
 "Lucida Sans Unicode", Geneva, Verdana,
 sans-serif;
}

h2 {
  font-size: 2rem;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.8rem;
}

@media (min-width: 1200px) {
  h3 {
    font-size: 2.8rem;
  }
}

a {
  text-decoration: none;
  color: #649264;
}

i {
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 2rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

div#teljes {
  font-family: "'Comic Sans MS', arial, helvetica";
  text-align: center;
  /*background-color: adjust-color($color: color(backgr), $red: 1, $green: 2, $blue: 3, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: 0.5);*/
  font-style: italic;
  text-shadow: 0 3px 2px #798686;
}

#navbar {
  font-size: 2rem;
}

@media (min-width: 1200px) {
  footer {
    font-size: 0.5rem;
  }
}
/*# sourceMappingURL=main.css.map */